<?xml version="1.0" encoding="UTF-8"?>

<launch>
	
	<!-- Include the gazebo world launch file -->
	<include file="$(find my_robot)/launch/world.launch" />

	<!-- Include the teleop_twist_keyboard launch file -->
	<include file="$(find main)/launch/teleop.launch" />

	<!-- Include the mapping launch file -->
	<include file="$(find main)/launch/mapping.launch" />
</launch>
